html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.jumbotron h1{
    font-size: 40px;
}
.fonts{
    font-family: 'Fraunces', serif;
    font-size: 20px;
}

#grad {
    background-image: linear-gradient(to right, #E70070 ,#A400D5);
  }

.jumbotron{
    width:600px;
    margin-top: 5%;
    padding: 5px;
    padding-top: 2px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #4a3f4d;
}
